body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  padding: 50px;
  background-color: #4CAF50;
  color: white;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}
.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px auto;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input, select {
  padding: 10px;
  margin: 10px;
  width: 90%;      /* Yüzdeyi büyüttüm */
  max-width: 400px; /* Maksimum genişliği 400px yaptım */
  font-size: 16px;
}